# --- Python ---
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.so

# --- Virtualenv ---
.venv/
venv/
ENV/
env/

# --- Django ---
db.sqlite3
*.log
media/
staticfiles/

# --- Env files ---
.env
.env.*

# --- IDE / OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db
